.background {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.RequestContainer {
  border-radius: 5px;
  height: 20vh;
  width: 60vw;
}

.row{
  display: flex;
  justify-content: center;
  width: 100%;
}

.RequestButton {
  color: darkred;
  font-size: 8vh;
  background-color: red;
  border-radius: 5vh;
  border: darkred solid 2px;
  height: 10vh;
  margin: 1px;
}

.RequestLabel {
  text-align: center;
  width: 60vw;
  font-size: 8vh;
  margin: 1px;  background-color: whitesmoke;
  border-radius: 2px;
  border: black solid 2px;
}
input {
  text-align: center;
  font-size: 5vh;
  height: 6vh;
  width: 60vw;
  border: none;
  border-bottom: darkred solid 2px;
  margin: 1px;
}